@model IEnumerable<Project.Entities.Concrete.NfcDesk>

@{
	ViewBag.Title = "Masa Listesi";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
	<a href="@Url.Action("RequestCreateDeskAlarm", new { deskId = item.Id, alarmTypeName="Garson", companyId=1 })">@item.Name</a>
	@*<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
			@Html.ActionLink("Details", "Details", new { id = item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id })
		</td>*@
}
